<mat-toolbar color="primary">
    <span class="titulo">ECONOMÍA EMPRESARIAL</span>
    <span class="spacer"></span> <!-- Espaciador para alinear los botones a la derecha -->
    <button mat-button class="toolbar-button" [routerLink]="['/cuentas/list']">
        <mat-icon>library_books</mat-icon>
        <span>PLAN DE CUENTAS</span>
    </button>
    <button mat-button class="toolbar-button" [routerLink]="['/asientos/list']">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>LIBRO DIARIO</span>
    </button>
    <button mat-button class="toolbar-button" [routerLink]="['/estados/resultados']">
        <mat-icon>receipt</mat-icon>
        <span>ESTADO DE RESULTADOS</span>
    </button>
    <button mat-button class="toolbar-button" [routerLink]="['/estados/patrimonial']">
        <mat-icon>assignment</mat-icon>
        <span>SITUACIÓN PATRIMONIAL</span>
    </button>
</mat-toolbar>
